div{
    margin-left:30%;
    margin-right:30%;
    background-color:black;
    color:white;
    padding:5%;
}
h2{
    text-align:center;
}
form{
    margin-left:20%;
}
input[type="submit"]{
    text-align:center;
}